body {
color: #ff8600;
background-color:white;
background-image:url(https://cdn.discordapp.com/attachments/469223014584811520/470198437229363200/free-wallpaper-hd-1920x1080-high-WTG200622339.jpg);
background-repeat:no-repeat;
}
