#todo-list {
  margin-top: 1em;
}
.todo {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: .3em;
  font-size: 1.2em;
  padding: 1em;
  margin: .5em 0;
}
.todo--done {
  opacity: .5;
}

.todo-label {
  margin-left: .5em;
}
.todo--done .todo-label {
  text-decoration: line-through;
}
